{% extends "index.html" %}
{% load static %}
{% block style %}<link href="{% static "css/mainstyle.css" %}" rel="stylesheet"> {% endblock %}
{% block title %}Поиск{% endblock %}

{% block content %}
    <h2>{{post.title}}</h2>
    <p>{{ post.body}}</p>
    <p>{{ post.publish}}</p>
    {% with comments.count as total_comments %}
        <h3>{{ total_comments }} comment{{ total_comments|pluralize }}</h3>
    {% endwith %}

    {% for comment in comments %}
        <div class="-comment">
            <p class="-info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
        {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p> There are no comments yet</p>
    {% endfor %}
    {% if new_comment %}
        <h2>Comment has been added</h2>
    {% else %}
        <h2> Add a new comment</h2>
        <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" VALUE="Add commnet"> </p>
        </form>
    {% endif %}


{% endblock %}



